.login{
    display: grid;
    place-items: center;
    height: 100vh;
}
.login__logo{
    display: flex;
    flex-direction: column;
}
.login__logo > img{
    height: 150px;
    object-fit: contain;
}
.login__logo >h2{
    color: #1976d2;
    margin-left: 20px;
    padding-top: 50px;
}